body {
  font-family: 'Open Sans';
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.tpl-title, #services .first_row h2, #portfolio h2 {
  font-size: 30px;
  font-weight: bold;
  color: #212121;
}

.tpl-desc, #portfolio p {
  font-size: 15px;
  font-family: "Open Sans";
  color: #212121;
}

.tpl-h3, #services h3 {
  font-size: 20px;
  font-family: "Open Sans Semibold";
}

.menu-bar {
  background-color: #fff;
  color: #212121;
  padding: 20px 0;
}

.menu-bar li {
  margin-left: 37px;
}

.menu-bar li a {
  font-family: "Open Sans Semibold";
  font-size: 20px;
  color: #212121;
}

.menu-bar li a:hover {
  text-decoration: none;
  color: #999;
}

.header {
  text-align: center;
  padding: 180px 0;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
  color: #fff;
}

.header h1 {
  font-size: 60px;
}

.header p {
  font-size: 22px;
  font-family: "Open Sans Regular";
  padding-bottom: 100px;
}

.header button {
  text-transform: uppercase;
  padding: 10px 25px;
  margin: 0 10px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #00897b;
  border: 2px solid #00897b;
}

.header button:hover {
  background-color: #026056;
  border: 2px solid #fff;
}

#about {
  color: #212121;
  background-color: #fff;
  text-align: center;
  padding: 120px 0;
}

#about .first_row h2 {
  font-size: 30px;
  font-weight: bold;
}

#about .first_row p {
  font-size: 15px;
  font-family: "Open Sans Regular";
  padding-bottom: 110px;
}

#about h3 {
  font-size: 20px;
  font-family: "Open Sans Semibold";
  padding-top: 35px;
  padding-bottom: 25px;
}

#about p {
  font-size: 15px;
  font-family: "Open Sans Regular";
}

#services {
  text-align: center;
  background-color: #e4fdf9;
  padding-top: 170px;
  padding-bottom: 115px;
}

#services .first_row p {
  padding-bottom: 110px;
}

#services h3 {
  padding-bottom: 25px;
}

#services .my-card {
  background-color: #fff;
  padding: 50px 30px 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

#services .my-card i {
  font-size: 60px;
  padding-bottom: 30px;
}

#services .my-card p {
  padding-bottom: 30px;
}

#services .my-card button {
  border: 1px solid #999;
  text-transform: uppercase;
  background: transparent;
  padding: 15px 10px;
  font-size: 20px;
  font-family: "Open Sans Semibold";
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#services .my-card:hover {
  background-color: #00897b;
  color: white;
  -webkit-box-shadow: -2px 9px 19px 0px rgba(0, 0, 0, 0.7);
  box-shadow: -2px 9px 19px 0px rgba(0, 0, 0, 0.7);
  border: none;
}

#services .my-card:hover button {
  color: white;
  border: 1px solid white;
}

#portfolio {
  padding: 120px 0;
  text-align: center;
}

#portfolio h2 {
  padding-bottom: 30px;
}

#portfolio p {
  padding-bottom: 70px;
}

#portfolio button {
  text-transform: uppercase;
  padding: 10px 25px;
  margin: 0 10px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #00897b;
  border: 2px solid #00897b;
  outline: none;
}

#portfolio button:hover, #portfolio button.focused {
  background-color: transparent;
  border: 2px solid #026056;
  color: #212121;
}

#portfolio .filter {
  padding: 120px 0;
  -webkit-transition: 2s;
  transition: 2s;
}

#portfolio .filter div[filter]:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio .filter .text {
  display: none;
}

#portfolio .filter div[filter]:hover .text {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
  text-align: center;
}

#portfolio .filter div[filter]:hover .text p {
  color: #fff;
}

#portfolio .filter img {
  margin-bottom: 30px;
}

#price {
  background-color: #f0f1f1;
  text-align: center;
  color: #212121;
  padding: 100px 0;
}

#price .price_row {
  padding-bottom: 100px;
}

#price .price {
  background-color: white;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#price .price:hover {
  -webkit-box-shadow: -2px 9px 19px 0px rgba(0, 0, 0, 0.7);
          box-shadow: -2px 9px 19px 0px rgba(0, 0, 0, 0.7);
}

#price .price .head {
  background-image: url(../img/price/price-fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 65px;
  max-height: 211px;
  color: white;
  font-size: 50px;
}

#price .price .head p {
  font-size: 26px;
  font-family: "Open Sans Regular";
}

#price .price .head sup {
  vertical-align: middle;
  font-size: 25px;
}

#price .price .head sub {
  vertical-align: middle;
  font-size: 17px;
}

#price .price .body {
  font-size: 17px;
  color: #212121;
}

#price .price .body li {
  margin: 0 auto;
  max-width: 175px;
  border-bottom: 1px solid #bfbfbf;
  padding-top: 30px;
  padding-bottom: 10px;
}

#price .price .footer {
  padding: 60px 0;
}

#price .price .footer button {
  background: transparent;
  font-size: 20px;
  border: 2px solid #212121;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  width: 180px;
  height: 60px;
}

#price .price .footer button:hover {
  background-color: #00897b;
  color: white;
  border: 2px solid #00897b;
  text-transform: uppercase;
}

#team {
  background-color: #ffffff;
  text-align: center;
  color: #212121;
  padding: 100px 0;
}

#team img {
  width: 100%;
}

#team .col-xl-4 {
  outline: none;
}

#team h4 {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Open Sans Semibold";
}

#team p {
  font-size: 15px;
  margin-bottom: 30px;
}

#team .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .icons a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team .icons i:nth-child(1) {
  color: #f0f1f1;
}

#team .icons a:hover i:nth-child(1) {
  color: #3949ab;
}

#team .icons i:nth-child(2) {
  color: #00897b;
}

#team .icons a:hover i:nth-child(2) {
  color: #fff;
}

#team .multiple-items {
  margin-top: 100px;
}

#team .dots-style {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .dots-style button {
  background-color: #00897b;
  border: none;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin: 5px;
  outline: none;
}

#team .dots-style li[class="slick-active"] button {
  background-color: #3949ab;
}

#blog {
  text-align: center;
  background-color: #e4fdf9;
  padding-top: 170px;
  padding-bottom: 115px;
}

#blog p {
  padding-bottom: 100px;
}

#blog .left > div:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#blog .left > div:last-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#blog .right > div:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#blog .right > div:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#blog .left, #blog .right {
  margin: 0 -40px;
}

#blog .blog {
  padding-top: 55px;
  text-align: left;
}

#blog .blog div {
  padding: 30px 0;
}

#blog .blog a {
  color: #00897b;
  font-size: 25px;
  font-family: "Open Sans Semibold";
}

#blog .blog i {
  margin-right: 15px;
}

#blog .blog span {
  margin-right: 35px;
}

#blog .button-blog {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  width: 220px;
  height: 70px;
  margin-top: 120px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #00897b;
  border: 2px solid #00897b;
  outline: none;
}

#blog .button-blog:hover {
  background-color: transparent;
  border: 2px solid #026056;
  color: #212121;
}
/*# sourceMappingURL=style.css.map */