.tpl-title {
  font-size: 30px;
  font-weight: bold;
  color: $color1;
}
.tpl-desc {
  font-size: 15px;
  font-family: "Open Sans";
  color: $color1;
}
.tpl-h3 {
  font-size: 20px;
  font-family: "Open Sans Semibold";
}
