#portfolio {
  padding: 120px 0;
  text-align: center;
  h2 {
    @extend .tpl-title;
    padding-bottom: 30px;
  }
  p {
    @extend .tpl-desc;
    padding-bottom: 70px;
  }
  button {
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 0 10px;
    color: #fff;
    transition: 0.3s;
    background-color: #00897b;
    border: 2px solid #00897b;
    outline: none;
    &:hover,
    &.focused {
      background-color: transparent;
      border: 2px solid #026056;
      color: $color1;
    }
  }
  .filter {
    padding: 120px 0;
    transition: 2s;

    div[filter]:hover img {
      filter: brightness(50%);
      transition: 0.3s;
    }

    .text {
      display: none;
    }

    div[filter]:hover .text {
      display: block;
      width: 100%;
      color: #fff;
      position: absolute;
      top: 40%;
      left: 0;
      z-index: 3;
      text-align: center;
      p{
        color: #fff;
      }
    }

    img {
      margin-bottom: 30px;
    }
  }
}
