@import '_params.scss';

body{
  font-family: 'Open Sans';
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

@import '_mix.scss';

.menu-bar{
  opacity: 0.9;
  position: fixed;
  background-color: #fff;
  color: $color1;
  padding: 20px 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  li{
    margin-left: 30px;
    a {
      font-family: $oss;
      font-size: 20px;
      color: #212121;
      &:hover{
        text-decoration: none;
        color: #999;
      }
    }
  }
  .menu-icon{
    outline: none;
  }
}
@import '_header.scss';
@import '_about.scss';
@import '_services.scss';
@import '_portfolio.scss';
@import '_price.scss';
@import '_team.scss';
@import '_blog.scss';
@import '_footer.scss';
@import '_media.scss';
